:root {
  --selected-color: #2be73e;
  --primary-color: #009329;
  --delete-color: #ff4329;
}

.heading-text {
  color: var(--primary-color) !important;
}

.staff {
  background-color: var(--selected-color) !important;
  color: #fff;
}
