:root {
  --selected-color: #2be73e;
  --primary-color: #009329;
  --det-btn-color: #08b037;
  --accent-clr: var(--selected-color);
}

.heading-text {
  color: var(--primary-color) !important;
}

.staff {
  background-color: var(--selected-color) !important;
  color: #fff;
}
