body {
  background-color: var(--bg-color);

  overflow: hidden;
}

.main-heading .main-heading-left h1 {
  color: var(--primary-color);
}

.detail-cont {
  /* background-color: red; */

  margin-top: 1.3rem;
  width: 100%;
  padding: 3rem;
}

.detail-box {
  /* border: 2px solid grey; */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  position: relative;
  min-height: 600px;

  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));

  padding: 0 3rem;
}

.close-btn {
  background-color: crimson;
  padding: 4px;

  position: absolute;
  right: 0;
  top: 0;

  color: #fff;
  text-align: center;

  width: 25px;
  height: 25px;

  text-decoration: none;
}

.detail-box-left {
  /* grid-column: 1; */

  /* background-color: red; */
  padding-left: 2rem;

  display: flex;
  align-items: center;

  .img-container {
    width: fit-content;
    object-fit: contain;

    overflow: hidden;
  }

  img {
    width: 480px;
    height: 480px;

    border-radius: 8px;
  }
}

.detail-box-right {
  /* background-color: blue; */
  padding: 3.5rem 2rem 3.5rem 0rem;
}

.details {
  background-color: rgba(245, 241, 241, 1);
  padding: 1rem;
  border-radius: 8px;

  h1 {
    font-size: 32px;

    text-transform: capitalize;
  }

  .description {
    min-height: 170px;

    overflow: auto;
    /* background-color: green; */

    padding: 5px 0;
  }

  .sub-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .category,
    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      h3 {
        font-weight: 400;
      }

      span {
        font-size: 15px;
      }
    }
  }

  .form-container {
    /* background-color: yellow; */

    padding: 5px 0;

    .price {
      font-size: 22px;
    }

    .info {
      /* background-color: red; */
      padding-block: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 8px;

        img {
          width: 21px;
          object-fit: contain;
        }
      }
    }
  }
}
