* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  margin: 5vh;
  margin-right: 10vw;
}

.overview-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 80px;
  margin-top: 1rem;
  max-width: 100%;
}

.overview-item {
  display: flex;
  align-items: center;
  height: fit-content;
}

.overview-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-size: 1.5rem;
  /* font-weight: 600; */
}

.overview-details .icon {
  width: 2rem;
  color: #6c757d;
}

.overview-separator {
  height: 100%;
  width: 1px;
  background-color: #dee2e6;
  margin: 0 20px;
}

.overview-label {
  color: #6c757d;
  font-weight: 500;
}

.overview-value {
  color: var(--primary-color);
  font-weight: 500;
}
/* above if for overview */

.sales .icon {
  width: 2.2rem;
  color: #7950f2;
}

h3 {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  height: fit-content;
  width: 100%;
}

h3 span {
  color: var(--primary-color);
  font-size: 1.7rem;
}

.list {
  max-height: 300px;
  overflow-y: auto;
}

thead,
tfoot {
  background-color: #f8f9fa;
  font-weight: bold;
  text-align: center;
}

thead {
  border-bottom: 2px solid #63636360;
  border-top: 1px solid #63636350;
}

tfoot {
  border-bottom: 1px solid #63636350;
  border-top: 2px solid #63636360;
}

.sales-wrapper {
  background-color: #f8f9fa;
  width: 100%;
  padding: 1rem 1.4rem 1.2rem 1.4rem;
  margin-top: 1.6rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 300px;
  /* margin-bottom: 2rem; */
}

/* flash message css */

.flash-box {
  position: absolute;
  top: 7%;
  right: -100%;
  transform: translateY(-55%);
  background-color: var(--battleship-gray);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
}

.flash-box button {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 600;
  color: whitesmoke;
}
