* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  margin: 5vh;
  margin-right: 10vw;
}

.main-heading-left h1 {
  color: var(--primary-color);
}

#rate {
  padding: 3px 5px;
  border: 1px solid grey;
  width: 65px;
  text-align: center;

  border-radius: 4px;
}

#rate::-webkit-outer-spin-button,
#rate::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#total {
  padding: 3px 5px;
  border: 1px solid grey;
  width: 65px;
  text-align: center;

  border-radius: 4px;
}

#total::-webkit-outer-spin-button,
#total::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.collection-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .sell-btn {
  background-color: var(--selected-color);
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;

  border: none;
  outline: none;

  padding: 6px 17px;
  cursor: pointer;
  font-weight: bolder;
} */

.sell-btn svg {
  width: 1.4rem;
}

.sell-btn:hover {
  background-color: rgba(13, 212, 70, 0.952);
}
