* {
  box-sizing: border-box; /* Ensures padding and borders are included in width/height calculations */
  margin: 0;
  padding: 0;
}

.additem-container {
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  margin-top: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Ensures wrapping in case of overflow */
  padding: 2rem 2rem; /* added new*/
}

.add-form {
  width: 100%;
  /* height: fit-content; */
  /* display: flex; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 20px; */
  /* align-items: center; */

  /* background-color: green; */

  padding-inline: 8px;
}

.additem-left {
  /* width: inherit; */
  width: 30rem;
}

.additem-left-heading {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.additem-left-heading img {
  width: 2.4rem;
  height: 2rem;
}

.additem-left-heading p {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 900;
}

.additem-left-heading svg {
  width: 2rem;
  color: var(--primary-color);
}

.upload-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.upload-box {
  width: 100%;
  height: 100%;
  border: 2px dashed #d3d3d3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf8ff;
  cursor: pointer;
  transition: border 0.3s ease;
  text-align: center;
  overflow: hidden; /* Prevents image overflow */
}

.upload-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.upload-box:hover {
  border-color: #800080;
}

.upload-box.dragging {
  border-color: #800080;
  background-color: #f0e8ff;
}

.upload-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.upload-box p {
  color: var(--text-color);
  font-size: 14px;
}

.file-input {
  display: none;
}

/* Add item left section ends */

/* Add item right section start */
.additem-right {
  /* background-color: blue; */
  height: fit-content;
  margin-top: 2.8rem;

  position: relative;
}

.additem-right label {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.additem-title,
.additem-pq,
.additem-location,
.additem-description {
  margin-bottom: 15px;
  position: relative;
}

input,
textarea {
  outline: none;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 8px;

  resize: none;

  width: 100%; /*addded new */

  /* background-color: red; */
}

.additem-title input:focus,
.additem-pq input:focus,
.additem-location input:focus,
.additem-description textarea:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

.additem-title {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
  /* padding-left: 4rem; */
}

.additem-title input {
  /* width: 100%; */
  padding: 0.8rem;
}

.additem-pq {
  display: flex;
  /* width: 100%; */

  justify-content: space-between;

  /* background-color: grey; */
  /* padding-left: 3.6rem; */
}

.price {
  display: flex;
  flex: 1;
  /* justify-content: space-between; */

  width: 50%;
}

.price input {
  /* width: 70%; */
  margin-left: 0.6rem;
  padding: 0.4rem;
}

.quantity {
  /* width: 50%; */
  flex: 1;
  display: flex;
}

.quantity input {
  /* width: 100%; */
  margin-left: 0.6rem;
  padding: 0.4rem;
}

.additem-location {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  /* padding-left: 2rem; */
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding-left: 40px;
  margin-bottom: 15px;
}

.styled-select {
  width: 25%; /* Ensure dropdowns are side-by-side */
  padding: 8px;
  border-radius: 5px;
  border: 2px solid var(--text-color);
}

.styled-select:focus {
  border: 2px solid var(--primary-color);
}

.additem-description {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
  /* padding-left: 0.6rem; */
}

.additem-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left: 7rem;
  margin-top: 1rem; /* added new*/

  gap: 20px;
}

.additem-cta button {
  width: 50%;
  padding: 0.9rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.additem-cta .add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.add-btn svg {
  width: 1.8rem;
}

.additem-cta .cancel {
  letter-spacing: 0.5px;
  border: 2px solid var(--secondary-color);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--secondary-color);
  margin-left: 1rem;
}

/* new html css */

.additem-field {
  /* background-color: green; */
  display: flex;
  /* align-items: center; */
  margin-bottom: 15px;
}

.additem-field label {
  min-width: 80px;
  margin-right: 20px;

  /* background-color: blue; */
}
/* Add item right section ends */
