main {
  width: 80%;
  margin: 5vh;
  margin-right: 10vw;
}

.main-heading-left h1 {
  color: var(--primary-color);
}

input {
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
}

th,
td {
  padding: 10px 14px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.caption {
  padding-block: 13px !important;

  border-radius: 7px;
}

th,
.caption {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #495057;
  margin-bottom: 11px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

.sell-form {
  background-color: #fff;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 8px 0;
  gap: 20px;
  color: #6c6d7c;
}

.sell-form div {
  display: flex;
  align-items: center;
}

.sell-form div:first-child {
  width: 100%;
}

.sell-form span {
  font-weight: 600;
  margin-right: 8px;
}

.sell-form input {
  width: 80px;
  margin: 5px;
  padding: 8px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.sell-form input[type="text"] {
  text-align: left;
  width: 100%;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 1px solid var(--selected-color);
}

#price {
  text-align: left;
  padding-left: 8px;
}

#item-input {
  padding-left: 10px;
}

#add-btn {
  background-color: var(--selected-color);
  color: #fff;

  font-weight: 600;
  cursor: pointer;
}

.sell-form input[type="date"] {
  width: max-content;
}

.sell-form div:nth-child(2) {
  display: flex;
  gap: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For quantity controls */

.qty-ctrl-btn {
  background-color: var(--selected-color);
  color: #fff;
  cursor: pointer;
  padding: 7px 15px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px 0 !important;
  border-radius: 5px 0 0 5px;
}
.plus-btn {
  border-radius: 0 5px 5px 0;
}

#qty {
  border-radius: 0;
  width: 55px;
}

#listLimit {
  padding-left: 10px;

  width: 4rem;
}

.search-button {
  background-color: var(--selected-color) !important;
  padding: 8px 22px !important;
  font-weight: 400;
  font-size: 14px;
}

.search-button:hover {
  background-color: var(--selected-color) !important;
}
