main {
  width: 80%;
  margin: 5vh;
  margin-right: 10vw;
}



/* card css starts */
.card-wrapper {
  display: grid; /* Set the display to grid */
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Create four equal columns */
  padding-top: 15px;
  justify-items: center;
}

.card {
  max-width: 280px;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 1rem;
  padding: 15px;
}

.card a > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.card-content {
  padding: 15px 0;
}

.card h3 {
  margin: 0 0 7px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inv-details {
  display: flex;
  justify-content: space-between;
}

.card .price {
  font-weight: bold;
  color: var(--accent-clr);
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.card .quantity {
  font-weight: bold;
  font-size: 16px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card .quantity svg {
  width: 22px;
  aspect-ratio: 1;
}

.card .quantity svg path {
  fill: var(--accent-clr);
}

.card .quantity span {
  font-weight: 400;
  font-size: 0.95rem;
}

.card .category {
  color: #666;
  font-size: 14px;
}

.card-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .tag {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--accent-clr);
  color: white;
  padding: 10px 17px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  font-size: 14px;
}

.card-wrapper form button {
  background: #ff4329;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding-inline: 1vw;
  padding-block: 0.4vw;
  cursor: pointer;
  gap: 5px;
  color: white;
  font-size: 14px;
}

.card-wrapper form button > img {
  width: 16px;
  aspect-ratio: 1;
}
/* card css ends */